@using Shop.Common
@model Shop.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";

}



<div class="row">
    <div class="col-md-9">
        <div class="text-center">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        </div>

        <a asp-controller="ArtProducts" asp-action="Create" class="btn btn-primary btn-lg">Create ArtProduct</a>

        <div class="row">
            @foreach (var category in Model.Categories)
            {<div class="col-md-4 media">
                    <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Name">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <a href="@category.Url">
                                @category.Name
                            </a>
                        </h5>

                    </div>
                </div>
            }
        </div>


        <div class="product-info">
            <img src="~/img/Egypt.jpg" />
            <strong>Tutankamon</strong>
            <ul class="product-props">
                <li>Price: 9.99$</li>
                <li>Artist: Van Gogh</li>
                <li>Title: </li>
                <li>Description: Self-Portrait</li>
            </ul>
            <button id="buybutton" class="btn btn-success">Buy</button>

        </div>
        <br />
        <br />
        <div id="theform">
            <form>
                <!-- Poleta za vuvejdane na danni -->
                <label>Username: </label>
                <br />
                <input />
                <!--Ako iskame speicalen design na dadeno pole. <input style="font-size: 18px; width=: 200px;" /> -->
                <!--Taka minava na drugiq red <br /> -->
                <br />
                <label>Password: </label>
                <br />
                <input type="password" />
                <br />
                <label>Email: </label>
                <br />
                <input type="email" />
                <br />
                <label>Subject: </label>
                <br />
                <input type="text" />
                <br />
                <label>Message: </label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <input type="submit" value="Send Message" />
                <br />
            </form>
        </div>


        <div>
            <div id="LoginToggle">Login</div>
            <form class="Popup-form">
                <div>
                    <label>Username</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>Remember me</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
        </button>

        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>

        <div class="row">
            <div class="input-field col s6">
                <input value="Alvin" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">First Name</label>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                M.updateTextFields();
            });
        </script>


        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </form>

      

        
        <div class="filter categories"><h6 class="mt0 margin-b-7">Category</h6><a href="/en/artworks/" class="block-link block h6"><i class="fal fa-circle"></i>All mediums</a><a href="/en/artworks/painting/" class="block-link block h6"><i class="fal fa-circle"></i>Painting</a><a href="/en/artworks/photography/" class="block-link block h6"><i class="fas fa-circle"></i>Photography</a><a href="/en/artworks/sculpture/" class="block-link block h6"><i class="fal fa-circle"></i>Sculpture</a><a href="/en/artworks/prints/" class="block-link block h6"><i class="fal fa-circle"></i>Prints</a><a href="/en/artworks/work-on-paper/" class="block-link block h6"><i class="fal fa-circle"></i>Work on paper</a><a href="/en/artworks/textile/" class="block-link block h6"><i class="fal fa-circle"></i>Textile</a><a href="/en/artworks/new-media/" class="block-link block h6"><i class="fal fa-circle"></i>New Media</a><a href="/en/artworks/design/" class="block-link block h6"><i class="fal fa-circle"></i>Design</a><a href="/en/artworks/jewelry/" class="block-link block h6"><i class="fal fa-circle"></i>Jewelry</a><a href="/en/artworks/illustration/" class="block-link block h6"><i class="fal fa-circle"></i>Illustration</a></div>
    </div>
</div>

