@model Shop.Web.ViewModels.ArtProductSearchViewModel


@foreach (var item in Model.ArtProducts)
{
    <div class="col-md-3">
        <div class="border bg-light rounded p-1">
            @foreach (var pic in item.ImageLinks)
            {
                <img src="@pic.Link" class="img-fluid" alt="@item.Title" />
            }


            <h3>Title: @item.Title</h3>
            <ul>
                <li></li>
                <li>Price: @item.Price</li>
                <li>Artist: @item.Artist.Name</li>
                <li>Size: @item.Size</li>
                <li>Description: @Html.Raw(item.ArtDescription)</li>
                <li>ArtCreatedOn: @item.ArtCreatedDate.Year</li>
                <h2 class="media-heading"><a asp-controller="ArtProducts" asp-action="ById" asp-route-id="@item.Id">More Info</a></h2>
            </ul>
            <button id="buybutton" class="btn btn-success">Buy</button>
            <button type="button" class="btn btn-primary" id="complete-order-button">Complete</button>
        </div>
    </div>

    }