@model Shop.Web.ViewModels.Categories.CategoryViewModel
@using Shop.Web.ViewModels.ArtProducts; 
@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="display-3">@Model.Name</h1>
<div class="alert alert-info">
    @Model.Name
</div>

<div class="row">
    @foreach (var artProduct in Model.ArtProducts)
    {

        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                @foreach (var item in artProduct.ImageLinks)
                {
                    <img src="@item.Link" class="img-fluid" alt="@artProduct.Title" />
                }

                <h3>Title: @artProduct.Title</h3>
                <ul>
                    <li></li>
                    <li>Price: @artProduct.Price</li>
                    <li>Artist: @artProduct.ArtistId</li>
                    <li>Size: @artProduct.Size</li>
                    <li>Description: @Html.Raw(artProduct.ArtDescription)</li>
                    <li>ArtCreatedOn: @artProduct.ArtCreatedDate.Year</li>
                    <h2 class="media-heading"><a asp-controller="ArtProducts" asp-action="ById" asp-route-id="@artProduct.Id">More Info</a></h2>
                </ul>
                <button id="buybutton" class="btn btn-success">Buy</button>
                <button type="button" class="btn btn-primary" id="complete-order-button">Complete</button>
            </div>
        </div>
    }
</div>

<div class="modal-body">
    <form id="order-form" action="/ArtProduct/Order" method="post">
        <div class="form-group">
            <label for="quantity" class="col-form-label font-weight-bold">Quantity</label>
            <input type="number"
                   class="form-control"
                   id="quantity"
                   name="quantity">
            <input type="hidden" value="@Model.Id" name="artProductId" />
        </div>
    </form>
</div>

<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="artProductsInCategory"
                   asp-route-name="@this.Model.Name"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route="artProductsInCategory"
                   asp-route-name="@this.Model.Name"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route="artProductsInCategory"
                   asp-route-name="@this.Model.Name"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
